.backdrop {
    height: 130%;
    width: 100%;
    background-color: rgba(0,0,0,0.26);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .modal {
    background-color: rgb(252, 252, 252);
    width: 50%;
    margin: 5rem auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.26);
  }